<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2018 Gerits Aurelien,
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: January 31 13:34 2017
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Gerits Aurelien</name>
				<website href="http://www.magix-cms.com" />
			</author>
			<author>
				<name>Salvatore di Salvo</name>
				<website href="http://www.disalvo-infographiste.be" />
			</author>
		</authors>
		<release>
			<date_create>05/09/2016</date_create>
			<date_update>10/07/2020</date_update>
			<version>1.3.0</version>
			<phase>Stable</phase>
		</release>
		<bind>
			<plugin>
				<name>cartpay</name>
			</plugin>
		</bind>
		<support>
			<ticket href="https://github.com/magix-cms/issues"></ticket>
			<git href="https://github.com/magix-cms/"></git>
		</support>
	</data>
</config>